body{
    font-size:20px;
    line-height: 2;
    
}
.logo{
	padding: 0.6rem 0;
}

.logo .rectangle{
    max-width:80px;
    height:55px;
}
form.box input[type=text] {
    padding: 8px;
    font-size: 15px;
    border: 2px solid black;
    float: left;
    width: 75%;
    background: #f1f1f1;
  }

form.box button {
    float: left;
    width: 20%;
    padding: 8px;
    background: #2196F3;
    font-size: 15px;
    border: 2px solid black;
    border-left: none;     
}
form.example button:hover {
    background: #0b7dda;
}
.subject{
    width:50%;
    float:left;
    padding:15px;
    position:relative;
    background-color: skyblue;
    border-radius: 2%;
}
.subject .title{
float:left;
    letter-spacing:1px;
    color:slategrey;

}
.subject .line{
    position:absolute;
    bottom:6px;
    border-bottom:1px;
    margin-left:.6rem;
    margin-right:.6rem;
}
.number{
    font-size: 16px;
    color:rosybrown
}

.btn {
    border-radius: 100px;
    padding: 1rem;
}
