*{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:700px){

    nav ul{
        width: 100%;
        background: linear-gradient(to bottom, #F9A628 0%, #F9CB28 60%);
        position: absolute;
        top:76px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu{
        display: block;
    }

    #menuList{
        overflow: hidden;
        transition: 0.3s;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 main{
        width: 80%;
    }

    .color-box{
        transform: translateX(75px);
    }

    .col-1{
        flex-basis: 100%;
    }
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
    margin:30px 0;
}

.menu{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: blue;
    font-size: 15px;
}

nav ul li a:hover{
    color: aqua;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 55px;
}

.col-1 h3{
    font-size: 55px;
    color: chocolate;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 17px;
    color: black;
    font-weight: 100;
    margin: 30px 0;
    font-size: 22px;
}

button{
    padding: 12px 10px;
    color: #fff;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    width: 190px;
    background-size: 200% auto;
    transition: all 0.5s !important;
    cursor: pointer;
}

button:hover, button:focus {
    background-position: right center;
    color: black !important;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 58%;
    background: linear-gradient(#ff469f, #ff6062);
    position:absolute;
    left: -40px;
    top: 8px;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.main-page{
    width: 90%;
}

.color-box{
    position:absolute;
    right: 0;
    top: 0;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    background: linear-gradient(to bottom, #F9A628 0%, #F9CB28 60%);
    z-index: -1;
    transform: translateX(150px);
}

.social{
    text-align: center;
    height: 14px;
    margin: 20px;
    cursor:pointer;
}

